RewriteEngine ON
RewriteRule language api.php?type=fetchLanguage [L]
RewriteRule search/(.*) api.php?type=fetchSearch&query=$1 [L]
RewriteRule (.*)/search/(.*) api.php?language=$1&type=fetchSearch&query=$2 [L]
RewriteRule developer/(.*) api.php?type=fetchPublisher&query=$1 [L]
RewriteRule (.*)/developer/(.*) api.php?language=$1&type=fetchPublisher&query=$2 [L]
RewriteRule detail/(.*) api.php?type=fetchDetail&query=$1 [L]
RewriteRule (.*)/detail/(.*) api.php?language=$1&type=fetchDetail&query=$2 [L]
RewriteRule download/(.*) api.php?type=loadFile&query=$1 [L]
